<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-center">Probando</h2>
			<table class="table" style="width:80%;margin:auto">
				<thead>
					<th>Name</th>
				</thead>
				<tbody>
					<td><a href="/simple_sum">Two numbers sum</a></td>
				</tbody>
			</table>
		</div>
	</div>
</div>