<div class="container">

	<div class="row">
		<div class="col-md-12">
			<h2 class="text-xs-center">Index</h2>
		</div>
	</div>

	<div class="row">
		<div class="offset-sm-2 col-sm-8">
			<table class="table text-white">
				<thead>
					<th>Name</th>
					<th>Description</th>
				</thead>
				<tbody>
					<tr>
						<td><a href="/simple_sum">Two numbers sum</a></td>
						<td>Simple sum of two numbers</td>
					</tr>
					<tr>
						<td><a href="/paths/0">Decisions Laberynth</a></td>
						<td>Two decisions paths to get to the goal.</td>
					</tr>
					<tr>
						<td>
							<a href="/kiloverter">Converter</a>
						</td>
						<td>Convert Kilowats to different measures.</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>