<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-xs-center">Kiloverter</h2>
		</div>
	</div>
	<hr>

		<form id="kiloverter-form" class="form-inline" method="post">

					<div class="form-group">
						<input style="width:100%;" type="number" name="watsValue" class="form-control full-w" placeholder="Kilowats Value"> 
					</div>
				
					<div class="form-group">
						<label class="text-white" style="margin-right:10px;">To</label>
						<select  name="type"class="form-control">
							<option value="w">Wats</option>
						  <option value="hp">Horse Power</option>
						</select>
					</div>
					<div class="form-group">
						<button class="btn btn-primary">Convert</button>
					</div>
		</form>

		<div style="margin-top:10px;" class="row">
			<div class="col-sm-12">
				<input id="kresult" type="number" class="form-control form-control-lg text-center disabled" readonly>
			</div>
		</div>
</div>
