<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta content="Ruby web board"/>
		<meta content="ruby,sinatra" name="keywords"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/css/tether.min.css">
		<link rel="stylesheet" type="text/css" href="/css/paths.css">
		<link rel="stylesheet" type="text/css" href="/css/custom.css">
		<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/js/sum.js"></script>
		<script type="text/javascript" src="/js/path.js"></script>
		<script type="text/javascript" src="/js/kiloverter.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places"></script>
		<script type="text/javascript" src="/js/jquery.geocomplete.js"></script>
		<script type="text/javascript" src="/js/tether.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
	</head>
	<body>
		<%= yield %>
	</body>	
</html>