<div class="row">
	<div class="wall col-md-3">
	</div>
	<div class="wall yellow-wall col-md-6">
		<% if @@key == false %>
			<%= "You found a key!" %>
			<% @@key = true %>
		<% else %>
			<%= "You already found the key.." %>
		<% end %>
		<a href="/paths/0"><div class="door"></div></a>	
	</div>
	<div class="wall col-md-3">
	</div>
</div>

