<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-center">Simple Sum</h2>
		</div>
	</div>
		<form id="sum-form" class="form-inline" method="post">
			<div class="row">
				<div class="col-md-offset-4 col-md-8">
					<div class="form-group">
						<input name="num1" class="form-control" type="number">
						<span>+</span>
						<div class="form-group">
							<input name="num2" class="form-control" type="number">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-offset-6 col-md-6">
						<button class="btn btn-default">Sumar</button>
					</div>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col-md-offset-4 col-md-5">
				<input id="sum-result" type="number" class="form-control text-center" readonly>
			</div>
		</div>
</div>
