.wall-cont{
	background-color: black;
}
.wall-title{
	color: white;
}
.wall{
	height: 500px;
}
.blue-wall{
	background-color: blue;
}
.red-wall{
	background-color: red;
}
.green-wall{
	background-color: green;
}
.yellow-wall{
	background-color: yellow;
}
.white-wall{
	background-color: white;
}
.door{
	position: relative;
	border-style: groove;
	border-radius: 100%;
	height: 70px;
	width: 70px;
	margin-top: 15px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50%;
	opacity: 0.5;
}