<div class="row">
	<div class="wall col-md-3">
	</div>
	<div class="wall white-wall col-md-6">
		<a href="/paths/2450"><div class="door"></div></a>
	</div>
	<div class="wall col-md-3">
	</div>
</div>

