<div class="row">
	<div class="wall red-wall col-md-5">
		<a href="/paths/53"><div class="door"></div></a>
	</div>
	<div class="wall col-md-2">	
	</div>
	<div class="wall red-wall col-md-5">
		<a href="/paths/25"><div class="door"></div></a>
	</div>
</div>

