<div class="row">
	<div class="wall red-wall col-md-5">
		<a href="/paths/190"><div class="door"></div></a>
	</div>
	<div class="wall col-md-2">	
	</div>
	<div class="wall green-wall col-md-5">
		<a href="/paths/90"><div class="door"></div></a>
	</div>
</div>

